<div class="toast show Errtoast">
    <div class="toast-header">
      <strong class="me-auto">{{toastHeaderMsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      <p>{{toastErrMsg}}</p>
    </div>
  </div>